@import "options_menu"

textbox-width {
    str: "";
    width: 350px;
    expand: false;
}

element-text {
    horizontal-align:   0.5;
    font:               "Fira Sans 20";
    width:              140px;
    padding: 6px;
}
