listview {
    columns:                        6;
    padding:                        12px;
}

@import "launcher"

element-text {
    padding:                        4px 12px;
    border:                         4px 4px solid 4px 4px;
    border-color:                   transparent;
    border-radius:                  8;
    width:                          300px;
}

element-text selected {
    border-color:                   @primary;
}
