* {
    border: none;
    border-radius: 0;
    font-family: Fira Sans;
    font-size: 20px;
}

window#waybar {
    background-color: rgba(46, 52, 64, 0.5);
    border-bottom: 4px solid #B48EAD;
    color: #D8DEE9;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces {
    margin: 8px 8px 12px 8px;
    background-color: transparent;
}

#workspaces button {
    padding: 2px 8px;
    margin: 0px 2px;
    color: #D8DEE9;
    border: 4px solid transparent;
    border-radius: 8;
}

/* Visible but not focused workspace (i.e active workspace on unfocused monitor */
#workspaces button.visible {
    background: rgba(0, 0, 0, 0.2);
    border: 4px solid #D8DEE9;
}

#workspaces button.focused {
    background: rgba(0, 0, 0, 0.2);
    border: 4px solid #B48EAD;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.urgent {
    border: 4px solid #BF616A;
}

#clock,
#backlight,
#network,
#pulseaudio,
#battery,
#custom-media,
#tray,
#mode {
    padding: 0 10px;
    margin: 8px 8px 12px 8px;
    color: #D8DEE9;
    background: rgba(0, 0, 0, 0.2);
    border: 4px solid transparent;
    border-radius: 8px;
}

#battery.warning:not(.charging) {
    background-color: #D08770;
    color: #2E3440;
}

#battery.critical:not(.charging) {
    background-color: #BF616A;
    color: #2E3440;
}
