[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Maple 2018
Type=Application
Comment=Maple 2018
Exec=/home/ntc/maple2018/bin/xmaple %f
Terminal=false
Icon=/home/ntc/maple2018/bin/Maple2018.png
GenericName=Maple
Categories=Applications;Education;Mathematics;Custom;
MimeType=application/x-maple-worksheet;
