#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Wikipedia
Exec=/opt/google/chrome/google-chrome --app="https://en.wikipedia.org" --incognito
Icon=web-wikipedia
Categories=Network;WebBrowser;Custom;

