[Desktop Entry]
Version=1.0
Name=Firefox
GenericName=Web Browser
Keywords=Internet;WWW;Browser;Web;Explorer
Exec=env MOZ_DISABLE_RDD_SANDBOX=1 MOZ_USE_XINPUT2=1 MOZ_ENABLE_WAYLAND=1 firefox -P default
Icon=firefox
Terminal=false
X-MultipleArgs=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupNotify=true
StartupWMClass=firefox
Categories=Network;WebBrowser;Curated
