#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Gmail
Exec=firefox -P default --ssb "https://mail.google.com/mail/u/0/#inbox"
Icon=gmail
Categories=Network;WebBrowser;Curated;

