#!/usr/bin/env xdg-open
[Desktop Entry]
Terminal=false
Type=Application
Name=Jellyfin
Exec=env MOZ_USE_XINPUT2=1 MOZ_ENABLE_WAYLAND=1 firefox -P app --new-window "http://tau:8096/web/index.html"
Icon=jellyfin
StartupWMClass=jellyfin
Categories=Network;WebBrowser;Curated;
