[Desktop Entry]
Name=PrusaSlicer
Exec=/usr/bin/prusa-slicer
Icon=PrusaSlicer
Terminal=false
Type=Application
StartupNotify=false
MimeType=model/stl;application/vnd.ms-3mfdocument;application/prs.wavefront-obj;application/x-amf;
Categories=Graphics;3DGraphics;Curated
Keywords=3D;Printing;Slicer;
