[Desktop Entry]
Name=Transmission
GenericName=BitTorrent Client
X-GNOME-FullName=Transmission BitTorrent Client
Exec=transmission-remote-gtk %U
Icon=transmission
Terminal=false
TryExec=transmission-gtk
Type=Application
StartupNotify=true
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Categories=Network;FileTransfer;P2P;GTK;Curated;
X-Ubuntu-Gettext-Domain=transmission
X-AppInstall-Keywords=torrent
Actions=Pause;Minimize;

[Desktop Action Pause]
Name=Start Transmission with All Torrents Paused
Exec=transmission-gtk --paused

[Desktop Action Minimize]
Name=Start Transmission Minimized
Exec=transmission-gtk --minimized
