#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Wikipedia
Exec=firefox -P app --new-window "https://en.wikipedia.org/wiki/Main_Page"
Icon=web-wikipedia
Categories=Network;WebBrowser;Curated;

